<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link th:href="@{/styles/style.css}" rel="stylesheet" />
  <link th:href="@{/styles/error.css}" rel="stylesheet" />
  <link th:href="@{/styles/login.css}" rel="stylesheet" />
  <title>VERIFIKASI</title>
</head>
<body>
<div class="container">
  <div class="wrapper">

    <form th:action="@{/auth/verify?email={mail} (mail=${verifyEmail}) }" th:object = "${user}" method="POST">
      <!--            <form th:action="@{/api/school/v1/students/{id} (id=${student.id})}" th:object = "${student}" method="POST">-->
      <h1>Input Token</h1>
      <div th:if="${#fields.hasErrors('global')}" class="error-box error-danger" >
        <p th:each="err : ${#fields.errors('global')}" th:text="${err}"  />
      </div>
      <div>
        <label hidden th:text="${verifyEmail}" id="verifyEmail">[verifyEmail]</label>
      </div>
      <div>
        <label for="token">Input Token:</label>
        <input type="password" th:field = "*{token}" name="token" id="token" maxlength="6"/>
      </div>
      <div>
        <button class="btn-block" type="submit">Kirim</button>
      </div>

      <div>
        <a class="btn btn-block" th:href = "@{/auth/newToken?email={mail} (mail=${verifyEmail})}">New Token</a>
      </div>
    </form>
  </div>
</div>
</body>
</html>