<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link th:href="@{/styles/style.css}" rel="stylesheet" />
  <link th:href="@{/styles/error.css}" rel="stylesheet" />
  <link th:href="@{/styles/login.css}" rel="stylesheet" />
  <title>VERIFIKASI TOKEN</title>
</head>
<body>
<div class="container">
  <div class="wrapper">
    <form th:action="@{/auth/verify-token-forget-password}" th:object = "${forgetpassword}" method="POST">
      <h1>Input Token</h1>
      <div th:if="${#fields.hasErrors('global')}" class="error-box error-danger" >
        <p th:each="err : ${#fields.errors('global')}" th:text="${err}"  />
      </div>
      <div>
        <input type="hidden" th:field = "*{email}" name="email" id="email"/>
      </div>
      <div>
        <label for="token">Input Token:</label>
        <input type="password" th:field = "*{token}" name="token" id="token" maxlength="6"/>
      </div>

      <div>
        <button type="submit">Kirim</button>
      </div>
      <div>
        <a class="btn btn-block" th:href = "@{/auth/request-token-forget-password?email={mail} (mail=${forgetpassword.email})}">New Token</a>
      </div>

    </form>
  </div>
</div>
</body>
</html>