<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta discountName="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
          integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
          crossorigin="anonymous"></script>
  <link th:href="@{/css/cat-dashboard.css}" rel="stylesheet">
  <link th:href="@{/css/navbar-top.css}" rel="stylesheet">
  <style>
    .error-message {
       color: red;
       font-size: 12px;
    }

    </style>
  <title>Discount Dashboard</title>
  <script>
    function submitDiscountForm() {
        // Get the form element by its ID
        var discountForm = document.getElementById("discountForm");

        // Submit the form
        discountForm.submit();
    }
    function submitUpdateForm() {
     // Get the form element by its ID
        var discountUpdateForm = document.getElementById("discountUpdateForm");

        // Submit the form
        discountUpdateForm.submit();
    }

     function openModal(button) {
        const discountId = button.getAttribute("data-id");
        const discountName = button.getAttribute("data-discName");
        const startAt = button.getAttribute("data-startAt");
        const endAt = button.getAttribute("data-endAt");
        const percentDiscount = button.getAttribute("data-percentDiscount");

        const form = document.getElementById("discountUpdateForm");

        form.querySelector("#discount-update-id").value = discountId;
        form.querySelector("#discount-update-discountName").value = discountName;
        form.querySelector("#disc-percentDiscount-update").value = percentDiscount;
        form.querySelector("#disc-start-update").value = startAt;
        form.querySelector("#disc-end-update").value = endAt;
    }



</script>
</head>
<body>
<div th:replace="~{components/navbar-top :: navbar-top}" class="navbar-container"></div>
<div class="cat-dashboard">
  <div class="d-flex w-100 justify-content-center align-items-center pt-3" style="position: absolute">
    <div th:if="${message != null}" class="toast align-items-center text-white bg-primary border-0" role="alert" aria-live="assertive" aria-atomic="true" data-bs-delay="2000">
      <div class="d-flex">
        <div class="toast-body">
          [[${message}]]
        </div>
        <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
    </div>
  </div>
  <div class="cat-dash-container">
    <div class="btn-container">
      <div class="row-container dropdown">
        <div class="btn-custom dropdown-toggle" id="dropdownMenuButtonRow" data-bs-toggle="dropdown"
             aria-expanded="false">
          <p th:text="${selectedRow == null} ? 'Row Per Page' : ${selectedRow}"></p>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButtonRow">
            <li><a th:classappend="${selectedRow == 10}? 'active' : ''" class="dropdown-item" th:attr="data-row=${10}, data-page=${currentPage}" th:onclick="setSelectedRow(this)">10</a></li>
            <li><a th:classappend="${selectedRow == 20}? 'active' : ''" class="dropdown-item"  th:attr="data-row=${20}, data-page=${currentPage}" th:onclick="setSelectedRow(this)">20</a></li>
            <li><a th:classappend="${selectedRow == 30}? 'active' : ''" class="dropdown-item" th:attr="data-row=${30}, data-page=${currentPage}" th:onclick="setSelectedRow(this)">30</a></li>
          </ul>
        </div>
      </div>
      <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#discountFormModal">Add Discount</a>
    </div>
    <div class="cat-table">
      <table border="1" class="table table-bordered table-hover table-striped table-responsive-md">
        <thead class="table-dark">
        <tr>
          <th>#</th>
          <th style="text-align: center">Discount ID</th>
          <th style="text-align: center">Name</th>
          <th style="text-align: center">Start Date</th>
          <th style="text-align: center">End Date</th>
          <th style="text-align: center">Percent Discount</th>
          <th colspan="2" style="text-align: center">Actions</th>
        </tr>
        </thead>
        <tbody>
        <!-- Iterate over categories and populate table rows -->
        <tr th:each="discount, index : ${discounts}">
          <td th:text="${index.index + 1}"></td>
          <td style="text-align: center" th:text="${discount.discountId}"></td>
          <td th:text="${discount.discountName}"></td>
          <td th:text="${#temporals.format(discount.startAt, 'dd/MM/yyyy HH:mm') + ' WIB'}"></td>
          <td th:text="${#temporals.format(discount.endAt, 'dd/MM/yyyy HH:mm') + ' WIB'}"></td>
          <td th:text="${discount.percentDiscount + '%'}"></td>
          <td style="text-align: center">
            <a href="" type="button" class="btn btn-primary"
               th:attr="data-id=${discount.discountId},
               data-discName=${discount.discountName},
               data-startAt=${discount.startAt},
               data-endAt=${discount.endAt},
               data-percentDiscount=${discount.percentDiscount}"
               th:onclick="openModal(this)"
               data-bs-toggle="modal" data-bs-target="#discountUpdateFormModal">Edit</a>
          </td>
          <td style="text-align: center">
            <a th:href="@{/admin/discount/delete(discountId=${discount.discountId})}" type="button" class="btn btn-danger">Delete</a>
          </td>
        </tr>
        </tbody>
      </table>

      <div class="table-pagination">
        <div class="cat-paginate">
          <div th:replace="~{components/pagination-bar :: pagination-bar}"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="discountUpdateFormModal" tabindex="-1" aria-labelledby="discountFormModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="discountUpdateFormModalLabel">Update Discount</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form method="POST" th:action="@{/admin/discount/update}" th:object="${discount}" id="discountUpdateForm">
            <div class="mb-0">
              <input discountName="discountId" th:field="*{discountId}" type="text" class="form-control" id="discount-update-id" hidden>
            </div>
            <div class="mb-3">
              <label for="discount-discountName" class="col-form-label">Discount Name:</label>
              <input th:field="*{discountName}" discountName="discountName" type="text" class="form-control" id="discount-update-discountName">
            </div>
            <div class="form-group mb-3">
              <label for="disc-percentDiscount-update" class="col-form-label">Percent Discount:</label>
              <input th:field="*{percentDiscount}" type="text" class="form-control" id="disc-percentDiscount-update">
              <div th:errors="*{percentDiscount}" class="error-message"></div>
            </div>
            <div class="form-row d-flex justify-content-between">
              <div class="form-group">
                <label for="disc-start-update" class="col-form-label">Start Date:</label>
                <input th:field="*{startAt}" type="datetime-local" class="form-control" id="disc-start-update">
                <div th:errors="*{startAt}" class="error-message"></div>
              </div>
              <div class="form-group">
                <label for="disc-end-update" class="col-form-label">End Date:</label>
                <input th:field="*{endAt}" type="datetime-local" class="form-control" id="disc-end-update">
                <div th:errors="*{endAt}" class="error-message"></div>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" th:onclick="submitUpdateForm()">Update</button>
        </div>


      </div>
    </div>

  </div>
  <div class="modal fade" id="discountFormModal" tabindex="-1" aria-labelledby="discountFormModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="discountFormModalLabel">New Discount</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form method="POST" th:action="@{/admin/discount}" th:object="${discount}" id="discountForm">
            <div class="form-group mb-3">
              <label for="discount-discountName" class="col-form-label">Discount Name:</label>
              <input th:field="*{discountName}" type="text" class="form-control" id="discount-discountName">
              <div th:errors="*{discountName}" class="error-message"></div>
            </div>
            <div class="form-group mb-3">
              <label for="discount-percentDiscount" class="col-form-label">Percent Discount:</label>
              <input th:field="*{percentDiscount}" type="text" class="form-control" id="discount-percentDiscount">
              <div th:errors="*{percentDiscount}" class="error-message"></div>
            </div>
            <div class="form-row">
              <div class="form-group col-6">
                <label for="discount-start" class="col-form-label">Start Date:</label>
                <input th:field="*{startAt}" type="datetime-local" class="form-control" id="discount-start">
                <div th:errors="*{startAt}" class="error-message"></div>
              </div>
              <div class="form-group col-6">
                <label for="discount-end" class="col-form-label">End Date:</label>
                <input th:field="*{endAt}" type="datetime-local" class="form-control" id="discount-end">
                <div th:errors="*{endAt}" class="error-message"></div>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" th:onclick="submitDiscountForm()">Submit</button>
        </div>


      </div>
    </div>

  </div>
</div>

<script>
     function setSelectedRow(link) {
        var selectedRowValue = link.getAttribute('data-row');
        var pageValue = link.getAttribute('data-page');
        link.classList.add('active');
        var dropdownButton = document.getElementById('dropdownMenuButtonRow');

        var newUrl = new URL(window.location.href);
        newUrl.searchParams.set('page', pageValue);
        newUrl.searchParams.set('limit', selectedRowValue);
        window.location.href = newUrl.toString();
    }
</script>

<script>
var $j = jQuery.noConflict();
$j(function() {
    $j('.toast').toast('show');
});

</script>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js"
        integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa"
        crossorigin="anonymous"></script>
</body>
</html>