<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      th:href="@{/css/bootstrap@5.3.1.min.css}"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <script
      th:src="@{/js/jquery@3.5.1.slim.min.js}"

    ></script>
    <script
            th:src="@{/js/sockjs.min.js}"

    ></script>
    <script
            th:src="@{/js/stomp.min.js}"

    ></script>
    <script th:src="@{/js/websocket.js}"></script>
    <link th:href="@{/css/home-product.css}" rel="stylesheet" />
    <link th:href="@{/css/navbar-top.css}" rel="stylesheet" />


    <title>Food Spring App by STARLINE</title>
  </head>
  <body>
  <div th:replace="~{components/navbar-top :: navbar-top}"></div>
  <div th:replace="~{components/audio-notification :: notification}"></div>
  <div th:replace="~{components/notif-modal :: notif-modal}"></div>
  <div class="main-page">
      <div
        class="d-flex w-100 justify-content-center align-items-center pt-3"
        style="position: absolute; z-index: 999">
        <div

          class="toast align-items-center text-white bg-primary border-0"
          role="alert"
          aria-live="assertive"
          aria-atomic="true"
          data-bs-delay="3000"
          id="toastMessage"
        >
          <div class="d-flex">
            <div class="toast-body" id="toastBody">[[${message}]]</div>
            <button
              type="button"
              class="btn-close btn-close-white me-2 m-auto"
              data-bs-dismiss="toast"
              aria-label="Close"
            ></button>
          </div>
        </div>
      </div>
      <div class="d-flex flex-row w-100 home-wrapper">
        <div class="cat-box">
          <h3>Category</h3>
          <form
            th:action="@{/home(page=${currentPage}, limit=${selectedRow})}"
            method="GET"
            class="list-group"
          >
            <input type="hidden" name="page" th:value="${currentPage}" />
            <input type="hidden" name="limit" th:value="${selectedRow}" />
            <div th:if="${#lists.isEmpty(categories)}">
              <label class="list-group-item">
                <p>No Category</p>
              </label>
            </div>
            <label th:each="category : ${categories}" class="list-group-item">
              <input
                class="form-check-input me-1"
                type="checkbox"
                th:value="${category.categoryId}"
                th:checked="${selectedCategoryIds?.contains(category.categoryId)}"
                name="selectedCategoryIds"
              />
              <span th:text="${category.name}"></span>
            </label>

            <button type="submit" class="btn-filter">Apply Filter</button>
          </form>
        </div>
        <div class="prod-container">
          <div class="d-flex justify-content-end dropdown">
            <div
              class="btn-custom dropdown-toggle"
              id="dropdownMenuButton1"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <p
                th:text="${selectedSort == null} ? 'Sort By' : ${selectedSort}"
              ></p>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li>
                  <a
                    th:classappend="${selectedSort == 'Latest'}? 'active' : ''"
                    class="dropdown-item"
                    href="?sortBy=updatedAt"
                    th:attr="data-sortBy='updatedAt', data-sortType='desc'"
                    th:onclick="setSelectedSort(this)"
                    >Latest</a
                  >
                </li>
                <li>
                  <a
                          th:classappend="${selectedSort == 'Oldest'}? 'active' : ''"
                          class="dropdown-item"
                          href="?sortBy=updatedAt"
                          th:attr="data-sortBy='updatedAt', data-sortType='asc'"
                          th:onclick="setSelectedSort(this)"
                  >Oldest</a
                  >
                </li>
                <li>
                  <a
                    th:classappend="${selectedSort == 'Lower Price'}? 'active' : ''"
                    class="dropdown-item"
                    th:attr="data-sortBy='price', data-sortType='desc'"
                    th:onclick="setSelectedSort(this)"
                    >Price Desc</a
                  >
                </li>
                <li>
                  <a
                    th:classappend="${selectedSort == 'Higher Price'}? 'active' : ''"
                    class="dropdown-item"
                    th:attr="data-sortBy='price', data-sortType='asc'"
                    th:onclick="setSelectedSort(this)"
                    >Price Asc</a
                  >
                </li>
              </ul>
            </div>
          </div>
          <div class="d-flex p-2 flex-wrap flex-grow-1 justify-content-center gap-3">
            <div th:each="product : ${products}">
              <div
                th:replace="~{components/product-card :: product-card(product=${product})}"
              ></div>
            </div>
            <div th:if="${#lists.isEmpty(products)}" class="col-12 text-center" role="alert">
             <h3 style="font-weight: 600; text-transform: uppercase; color: lightgrey"> No products found.</h3>
            </div>
          </div>
          <div class="d-flex justify-content-center align-items-center mt-2">
            <div
              th:replace="~{components/pagination-bar :: pagination-bar(path='/home', label='Home Page')}"
            ></div>
          </div>
        </div>
      </div>
  </div>
  <!-- Footer -->
  <div th:replace="~{components/footer :: footer}"></div>
  <!-- Footer -->
    <script th:src="@{/js/navbar.js}"></script>
    <script>
      function setSelectedSort(link) {
        var selectedSortValue = link.getAttribute("data-sortBy");
        var selectedSortType = link.getAttribute("data-sortType");
        link.classList.add("active");
        var dropdownButton = document.getElementById("dropdownMenuButton1");

        var newUrl = new URL(window.location.href);
        newUrl.searchParams.set("sortBy", selectedSortValue);
        newUrl.searchParams.set("sortType", selectedSortType);
        window.location.href = newUrl.toString();
      }
      function redirectToProductDetail(button) {
        const productId = button.getAttribute("data-productId");
        const productDetailUrl = `/product/details/${productId}`;
        window.location.href = productDetailUrl;
      }
    </script>
    <script th:src="@{/js/pagination.js}"></script>


    <script>
      var $j = jQuery.noConflict();
      const message = document.getElementById('toastBody');
      if (message.textContent.length != 0) {
         $j(function () {
        $j(".toast").toast("show");
      });

      }
    </script>
    <script>
    var $j = jQuery.noConflict();

    // Submit "Add to Cart" form on button click
    $j(document).on("submit", ".add-to-cart-form", function (event) {
        event.preventDefault(); // Prevent the default form submission
        const formData = new FormData(this);

        fetch(this.action, {
            method: this.method,
            body: formData,
            headers: {
                "X-Requested-With": "XMLHttpRequest", // Add this header to identify AJAX requests
            },
        })
            .then((response) => response.json())
            .then((data) => {
                // Handle the response data here
                console.log(data);

                // Show the toast with the received message
                const toastMessage = document.getElementById("toastMessage");
                if (data.message) {
                    const toastBody = toastMessage.querySelector(".toast-body");
                    toastBody.textContent = data.message;
                }

                // Show the toast
                const toast = new bootstrap.Toast(toastMessage);
                toast.show();

                // If the operation was successful, you might update the UI or show a message
                // If not successful, handle errors accordingly
            })
            .catch((error) => {
                // Handle any errors that occurred during the fetch
                console.error("Error:", error);
            });
    });
</script>

    <script
            th:src="@{/js/popper@2.11.8.min.js}"

    ></script>

    <script
            th:src="@{/js/bootstrap@5.3.1.min.js}"
    ></script>
  </body>
</html>
