<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
            crossorigin="anonymous"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script
            src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"
    ></script>
    <link th:href="@{/css/navbar-top.css}" rel="stylesheet"/>
    <script src="https://kit.fontawesome.com/8afc88656e.js" crossorigin="anonymous"></script>
    <title>Checkout</title>
</head>
<body>
<div>
    <div th:replace="~{components/navbar-top :: navbar-top}"></div>
</div>
<div class="d-flex">
    <div th:replace="~{components/order-card :: order-card(shopOrder=${shopOrder})}"></div>
    <div class="card col-2 border border-info" style="max-height: 150px">
        <div class="card-body">
            <h3 class="card-title">Payment</h3>
            <div class="mb-3"><hr /></div>
            <div class="card-text-wrapper mb-2">
                <h4 class="card-text" style="font-size: 1.2rem"><span style="font-size: 1rem; color: grey">Total Payment</span> Rp[[${shopOrder.grandTotalIDR}]]</h4>
            </div>
        </div>
        <div class="card-footer p-0 border-0">
            <a
                    th:attr="data-snapToken=${snapToken}"
                    class="btn btn-primary rounded-top-0 col-12 pay-btn"
                    id="pay-button"
            >PAY</a
            >
        </div>
    </div>
</div>

<!-- Footer -->
<div th:replace="~{components/footer :: footer}"></div>

<script
        th:src="${SNAP_URL}"
        th:attr="data-client-key=${MIDTRANS_CLIENT_KEY}"
></script>
<script type="text/javascript">
      const token = document
        .getElementById("pay-button")
        .getAttribute("data-snapToken");
      document.getElementById("pay-button").onclick = function () {
        // SnapToken acquired from previous step
        snap.pay(token, {
          // Optional
          onSuccess: function (result) {
            /* You may add your own js here, this is just example */ document.getElementById(
              "result-json"
            ).innerHTML += JSON.stringify(result, null, 2);
          },
          // Optional
          onPending: function (result) {
            /* You may add your own js here, this is just example */ document.getElementById(
              "result-json"
            ).innerHTML += JSON.stringify(result, null, 2);
          },
          // Optional
          onError: function (result) {
            /* You may add your own js here, this is just example */ document.getElementById(
              "result-json"
            ).innerHTML += JSON.stringify(result, null, 2);
          },
        });
      };

</script>
<script
        src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"
></script>

<script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js"
        integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa"
        crossorigin="anonymous"
></script>
</body>
</html>