<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
            crossorigin="anonymous"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script
            src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"
    ></script>
    <link th:href="@{/css/navbar-top.css}" rel="stylesheet" />
    <title>Payment</title>
</head>
<body>
<div th:replace="~{components/navbar-top :: navbar-top}"></div>
<div class="container">
    <div class="d-flex justify-content-center align-items-center mb-4"><h4>PAYMENT</h4></div>
    <div class="d-flex flex-column p-0 col-12" th:each="shopOrder : ${shopOrders}">
        <div th:replace="~{components/order-card :: order-card(shopOrder=${shopOrder}, MIDTRANS_CLIENT_KEY=${MIDTRANS_CLIENT_KEY})}"></div>
    </div>
</div>
<!-- Footer -->
<div th:replace="~{components/footer :: footer}"></div>

<script
        th:src="${SNAP_URL}"
        th:attr="data-client-key=${MIDTRANS_CLIENT_KEY}"
></script>
<script type="text/javascript">
    const token = document
        .getElementById("pay-button")
        .getAttribute("data-snapToken");

    console.log(token);

    document.getElementById("pay-button").onclick = function () {
        // SnapToken acquired from previous step
        snap.pay(token, {
            // Optional
            onSuccess: function (result) {
                window.location.href = '/order?status=PAID';
            },
            // Optional
            onPending: function (result) {
                window.location.href = '/order?status=UNPAID';
            },
            // Optional
            onError: function (result) {
                window.location.href = '/home';
            },
        });
    };
</script>

<script
        src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"
></script>

<script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js"
        integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa"
        crossorigin="anonymous"
></script>
</body>
</html>