<div th:fragment="admin-order-item" class="card col-12 p-0" xmlns:th="http://www.w3.org/1999/xhtml">
  <div class="d-flex">
    <div class="col-sm-2" style="overflow: hidden">
      <img th:src="${item.productImageURL}" style="object-fit: cover; width:  100%; height: 100%;" class="rounded-start" th:alt="${item.productName}">
    </div>
    <div class="d-flex flex-column col-md-10 p-0">
      <div class="d-flex justify-content-start" style="padding-left: 0.5em">
        <h5 style="font-size: 1rem; font-weight: 470" class="card-title">[[${item.productName}]]</h5>
      </div>
      <div class="p-0 m-0"><hr></div>
      <div class="card-body p-0">
        <table class="table">
          <thead>
          <tr>
            <th class="fw-bold" style="font-size: 10px">Variant</th>
            <th class="fw-bold" style="font-size: 10px">Category</th>
            <th class="fw-bold" style="font-size: 10px">Unit Price</th>
            <th class="fw-bold" style="font-size: 10px">Discount</th>
            <th class="fw-bold" style="font-size: 10px">QTY</th>
            <th class="fw-bold" style="font-size: 10px">Total Price</th>

          </tr>
          </thead>
          <tbody>
          <tr>
            <td style="font-size: 0.8rem; font-weight:450" th:text="${item.variant != null ? item.variant : 'N/A'}"></td>
            <td style="font-size: 0.8rem; font-weight:450" th:text="${item.productCategory != null ? item.productCategory : 'N/A'}"></td>
            <td style="font-size: 0.8rem; font-weight:450" th:text="'Rp' + ${item.unitPriceIDR}">Rp25000</td>
            <td style="font-size: 0.8rem; font-weight:450" th:text="${item.discountPercentage != null ? item.discountPercentage + '%' : 'None'}">20%</td>
            <td style="font-size: 0.8rem; font-weight:450" th:text="${item.qty}"></td>
            <td style="font-size: 0.8rem; font-weight:450" th:text="${'Rp' + item.totalPriceIDR}">Rp20000</td>
          </tr>
          <!-- You can repeat the above <tr> structure for each item in your data -->
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div th:if="${item.note != null AND item.note.length != 0}"  class="card-footer p-1">
    <div class="p-0"><p class="fst-italic" style="font-size: 12px"><strong>Note: </strong>[[${item.note}]]</p></div>
  </div>
</div>
