<div th:fragment="login-form" class="card" xmlns:th="http://www.thymeleaf.org">
  <div class="card-header">
    <strong class="card-title" id="sign-in-title">
      Masuk
    </strong>
  </div>

  <div class="card-body p-4">

    <form method="POST" action="https://www.dicoding.com/login?" accept-charset="UTF-8" role="form" class="auth-form-v3 js-captcha-form" autocomplete="off" data-captcha-action="login"><input name="_token" type="hidden" value="EZB3BLGPaaVG8Nkkl8h9X24R6eiUB1hgusqE3QIw">

      <div class="form-group mb-3">
        <input class="form-control dcd-default-form font-weight-medium auth-form-v3__first-input" placeholder="Email" autocomplete="off" name="login_email" type="email" fdprocessedid="eohdj">
      </div>

      <div class="form-group">
        <div class="input-group mb-2">
          <input id="login-password" class="auth-form-v3__password-input form-control dcd-default-form font-weight-medium" placeholder="Password" autocomplete="off" required="" name="login_password" type="password" value="" fdprocessedid="sma8br">
        </div>

        <div class="text-right">
          <a href="https://www.dicoding.com/passwordreset" class="small font-weight-600 ml-auto dcd-link">Lupa Password?</a>
        </div>
      </div>

      <div class="form-group mb-2">
        <button type="submit" class="col-12 login-button rounded" data-label="Masuk">Login</button>
      </div>

      <div class="my-3">
        <div class="d-flex mb-2">
          <div class="col-12 px-0">
            <hr>
          </div>
        </div>

      </div>

      <div class="text-center mt-3">
        Belum punya akun? Ayo
        <a class="dcd-link font-weight-600" th:href="@{/auth/register}"><strong>Register</strong></a>
      </div>

      <hr class="mt-4 mb-3">

      <div class="text-center">
        <small>
          Dengan melakukan login, Anda setuju dengan <a href="" data-bs-toggle="modal" data-bs-target="#termAndCondition">syarat &amp; ketentuan FoodSpring</a>.
        </small>

        <div class="small mt-2">
          This site is protected by reCAPTCHA and the Google
          <a href="https://policies.google.com/privacy">Privacy Policy</a> and
          <a href="https://policies.google.com/terms">Terms of Service</a> apply.
        </div>
      </div>

    </form>

  </div>


  <!-- Modal -->
  <div class="modal fade" id="termAndCondition" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Food Spring Co., Ltd.</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <h1>Terms and Conditions</h1>

          <h2>Introduction</h2>
          <p>
            Welcome to the Food and Beverage Self-Ordering Web Application <strong>FoodSpring</strong>. By using the App, you agree
            to
            comply with and be bound by these Terms and Conditions.
          </p>

          <h2>Acceptance of Terms</h2>
          <p>
            By accessing or using the App, you acknowledge that you have read, understood, and agree to be bound by
            these
            Terms and Conditions.
          </p>

          <h2>Use of the App</h2>
          <p>
            The App allows you to order food and beverages from participating restaurants. You agree to use the App
            for
            lawful purposes only and in a manner consistent with these Terms and Conditions.
          </p>

          <h2>Privacy</h2>
          <p>
            We are committed to protecting your privacy. Please review our <a th:href="@{''}">Privacy
            Policy</a> to understand how we collect, use, and disclose your personal information.
          </p>

          <!-- Add more terms and conditions content as needed -->

          <h2>Contact Us</h2>
          <p>
            If you have any questions about these Terms and Conditions, please contact us at
            <a href="mailto:help@foodspring.co.id">help@foodspring.co.id</a>.
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal" aria-label="Close">CLOSE</button>
        </div>
      </div>
    </div>
  </div>
</div>