<nav th:fragment="navbar-top-bt4" class="navbar main-nav py-4 py-lg-4 navbar-expand-lg sticky-top"
     xmlns:th="http://www.w3.org/1999/xhtml">
    <a class="navbar-brand" th:href="@{/}"><strong>FoodSpring</strong><i class="fas fa-leaf fa-lg"></i></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <form th:if="${HIDE_TOP_SEARCH_BAR != true}" class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
        <ul class="navbar-nav mr-auto">
           <li class="nav-item">
               <a class="nav-link" style="cursor: pointer" data-bs-toggle="modal" data-bs-target="#notifModal">
                   <div class="badge-container">
                       <i class="fas fa-bell fa-lg me-2 shake" id="notificationBell"></i>
                       <div class="badge-dot"></div>
                   </div>
               </a>
           </li>
            <li th:if="${IS_ADMIN != null} and ${IS_ADMIN}" class="nav-item active">
                <a class="nav-link active" aria-current="page" th:href="@{/admin}"> <i class="fas fa-user-shield fa-lg"></i></a>
            </li>
            <li th:if="${USR_ID != null}" class="nav-item">
                <a class="nav-link" th:href="@{/cart}"><i class="fas fa-shopping-cart fa-lg"></i></a>
            </li>
            <li th:if="${USR_ID == null}" class="nav-item">
                <a class="nav-link" th:href="@{/auth/login}">Login</a>
            </li>
            <li th:if="${USR_ID != null}" class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                    <i class="fas fa-user-circle fa-lg me-2"></i>[[${USERNAME}]]
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" th:href="@{/auth/logout}">Logout</a>
                    <a class="dropdown-item" th:href="@{/order?status=UNPAID}">My Purchase</a>
                </div>
            </li>
        </ul>
    </div>
</nav>