<nav th:fragment="pagination-bar" aria-label="Category Table Pagination" xmlns:th="http://www.thymeleaf.org">
  <ul class="pagination">
    <li class="page-item">
      <a class="page-link" th:if="${currentPage > 1}" th:href="@{/admin/dashboard/category(page=${currentPage - 1}, limit=${selectedRow == null ? 10 : selectedRow})}"
         aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li class="page-item" th:each="pageNumber : ${#numbers.sequence(1, totalPages)}" th:unless="${totalPages > 3 and (pageNumber < (currentPage - 1) or pageNumber > (currentPage + 1))}">
      <a class="page-link" th:href="@{/admin/dashboard/category(page=${pageNumber}, limit=${selectedRow == null ? 10 : selectedRow})}"
         th:classappend="${pageNumber == currentPage ? 'active' : ''}"
         th:text="${pageNumber}"></a>
    </li>
    <li class="page-item">
      <a class="page-link" th:if="${currentPage < totalPages}" th:href="@{/admin/dashboard/category(page=${currentPage + 1}, limit=${selectedRow == null ? 10 : selectedRow})}"
         aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>
