<div th:fragment="product-card" class="card" xmlns:th="http://www.w3.org/1999/xhtml">
  <img th:attr="data-productId=${product.productId}" th:src="${product.imageURL}" class="card-img-top" th:alt="${product.productName}" onclick="redirectToProductDetail(this)">
  <div th:attr="data-productId=${product.productId}" class="card-body bg-transparent" th:onclick="redirectToProductDetail(this)">
    <h5 class="card-title" th:text="${product.productName}"></h5>
    <div class="card-text-wrapper mb-2">
     <p class="card-text" th:text="${product.description}"></p>
   </div>
    <div class="status-price">
      <span class="price"><small class="text-sm">Rp</small>[[${product.price}]]</span>
        <span th:unless="${product.isAvailable}" class="status">Sold Out</span>
    </div>
  </div>
  <div class="card-footer p-0 border-0">
      <form
              class="add-to-cart-form"
              th:action="@{/api/cart}"
              method="POST"
      >

          <!-- Hidden input field for productId -->
          <input
                  type="text"
                  name="productId"
                  th:value="${product.productId}"
                  hidden
          />
          <input
                  type="number"
                  name="qty"
                  value="1"
                  hidden
          />
          <button type="submit" class="btn btn-primary rounded-top-0 add-btn">Add to card</button>
      </form>
  </div>
</div>