<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
            th:href="@{/css/bootstrap@5.3.1.min.css}"
            rel="stylesheet"
    />

    <script
            th:src="@{/js/jquery@3.5.1.slim.min.js}"

    ></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link th:href="@{/css/navbar-top.css}" rel="stylesheet" />
    <link th:href="@{/css/cart.css}" rel="stylesheet" />

    <title>Cart</title>
  </head>
  <body>
    <div th:replace="~{components/navbar-top :: navbar-top}"></div>
    <div th:replace="~{components/audio-notification :: notification}"></div>
    <div th:replace="~{components/notif-modal :: notif-modal}"></div>
    <div
            class="d-flex w-100 justify-content-center align-items-center pt-3"
            style="position: absolute; z-index: 999"
    >
      <div

              class="toast align-items-center text-white bg-primary border-0"
              role="alert"
              aria-live="assertive"
              aria-atomic="true"
              data-bs-delay="3000"
              id="toastMessage"
      >
        <div class="d-flex">
          <div class="toast-body" id="toastBody">[[${message}]]</div>
          <button
                  type="button"
                  class="btn-close btn-close-white me-2 m-auto"
                  data-bs-dismiss="toast"
                  aria-label="Close"
          ></button>
        </div>
      </div>
    </div>
    <div class="d-flex p-4 gap-2">
      <div class="d-flex flex-column col-9">
        <div th:each="item : ${cart.cartItems}">
          <div
                  th:replace="~{components/cart-item :: cart-item(item=${item})}"
          ></div>
        </div>
        <div th:if="${#lists.isEmpty(cart.cartItems)}" class="d-flex flex-column justify-content-center align-items-center p-4">
          <i style="color: lightgrey; opacity: 0.7" class="fa fa-shopping-cart fa-5x mb-3"></i>
          <h4 style="font-weight: 700; color: lightgrey" class="text-center">You have no cart items</h4>
        </div>
      </div>
      <div class="card col-2 border border-info" style="max-height: 150px">
        <div class="card-body">
          <h3 class="card-title">Checkout</h3>
          <div class="mb-3"><hr /></div>
          <div class="card-text-wrapper mb-2">
            <h4 class="card-text" style="font-size: 1.2rem"><span style="font-size: 1rem; color: grey">Total Payment</span> Rp[[${cart.grandTotalIDR}]]</h4>
          </div>
        </div>
        <div class="card-footer p-0 border-0">
          <a
            class="btn btn-primary rounded-top-0 col-12 pay-btn"
            id="pay-button"
            th:href="@{/checkout/payment}"
            >CHECKOUT</a
          >
        </div>
      </div>
    </div>
    <div th:replace="~{components/footer :: footer}"></div>

    <script>
      var $j = jQuery.noConflict();
      const message = document.getElementById('toastBody');
      if (message.textContent.length != 0) {
         $j(function () {
        $j(".toast").toast("show");
      });

      }
    </script>
    <script th:src="@{/js/navbar.js}"></script>
    <script
            th:src="@{/js/popper@2.11.8.min.js}"

    ></script>

    <script
            th:src="@{/js/bootstrap@5.3.1.min.js}"
    ></script>
  </body>
</html>
