* {
  margin: 0;
  padding: 0;
}

body {
 background-color: #f0f0f0;
}

.report-section {
  display: flex;
  height: max-content;
  width: 100%;
  justify-content: space-between;
  padding: 10px;
  flex-wrap: wrap;
}

.report-item {
    background-color: #fff; /* Set the background color if needed */
    padding: 8px 15px; /* Adjust the padding to your liking */
    border-radius: 8px; /* Add rounded corners if desired */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Add the shadow effect */
    flex-shrink: 0;
    margin-bottom: 20px;
}

.report-item h4 {
  font-weight: 400;
  font-size: 1.2rem;
  margin-bottom: 20px;
  opacity: 0.8;

}
.card-container {
  padding: 0 10px 0 10px;
}




.card-container {
  width: 100%;
  display: flex;
  gap: 2%;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px 5px 20px 5px;

}

.manage {
  background-color: #04d4f0;
  color: white;
  font-weight: bold;
}