* {
  padding: 0;
  margin: 0;
  font-family: Poppins, sans-serif;
}

.home-container {
  display: flex;
}
 .subscribe-btn {
          background-color: #04d4f0;
          border: none;

           &:hover {
             opacity: 0.6;
             background-color: #04d4f0;
           }
      }
.search-form {
  display: flex;
  align-items-center;
  margin: auto;
}
.product-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.6rem;
  justify-content: center;
  align-items: center;
  padding: 10px;
  flex: 90%;
}

.sort-container {
  display: flex;
  flex: 10%;
  padding-right: 90px;
  align-items: center;
  justify-content: flex-end;
}

.filter-category {
  display: flex;
  flex: 20%;
  flex-direction: column;
  padding: 10px;
}

.list-group-item {
  cursor: pointer;
}

.form-check-input {
  cursor: pointer;
}

.btn-filter {
  background-color: #04d4f0;
  border: none;
  height: 35px;
  color: white;
  border-radius: 0 0 5px 5px;
  text-transform: uppercase;
  font-weight: 700;

  &:hover {
    opacity: 0.7;
  }
}

.right-section {
  display: flex;
  flex-direction: column;
  flex: 80%;
  padding-top: 30px;
}

.btn-custom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 180px;
  height: 40px;
  padding: 10px;
  cursor: pointer;
  border: 1px solid lightgrey;
  background-color: white;
  border-radius: 6px;

  &:hover {
    border: 1px solid #04d4f0;
  }
}

.btn-custom p {
  flex: 1;
  margin-top: 15px;
  padding-top: 2px;
}

.btn-custom ul {
  flex: 1;
}

.dropdown-item.active {
  background-color: #04d4f0;
}

.dropdown-menu {
  width: 150px;
}

.card-item {
  flex: 1;
}


.status-price {
  flex: 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0;
}

.card-text-wrapper {

  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  text-align: justify;
  word-break: break-all;

  @supports (-webkit-line-clamp: 3) {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: initial;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
}

.price {
  font-weight: 700;
  font-size: 1rem;
  color: #04d4f0;
}

.status {
  color: red;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.6rem;
}

.add-btn {
  background-color: #04d4f0;
  border: none;
  width: 100%;
}

.add-btn:hover {
  opacity: 0.6;
  background-color: #04d4f0;
}


.card {
  flex: 1;
  min-width: 180px;
  max-width: 180px;
  overflow: hidden;
  height: 355px;
  background-color: white;

  &:hover {
    cursor: pointer;
    background-color: #ddf7fa;
    transition: all 0.1s ease-out;
    box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
    top: -2px;
    border: 1px solid #04d4f0;
  }

}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-title {
  flex: 10%;
  font-size: 0.8rem;
  font-weight: 600;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: keep-all;

  @supports (-webkit-line-clamp: 2) {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: initial;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
}

.card-text {
  font-size: 0.7rem;
  font-weight: 400;
}

.text-sm {
  font-size: 0.8em;
  margin-right: 0.1em;
}

.card-img-top {
  width: 100%;
  height: 12vw;
  object-fit: cover;
}

.position-relative {
  position: relative;
}

.sold-out-badge {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 10px;
  font-weight: bold;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px; /* Adjust the size of the badge */
  height: 80px; /* Adjust the size of the badge */
}

.discount-badge {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #04d4f0;
    color: white;
    padding: 0.2rem 0.5rem;
    border-radius: 0 0 0 0.25rem;
    font-size: 0.8rem;
}


.cat-box {
  display: flex;
  flex-direction: column;
  flex: 15%;
}

.prod-container {
  display: flex;
  flex: 85%;
  flex-direction: column;
}

.home-wrapper {
  padding: 20px;
}




@media only screen and (max-width: 376px) {
    .home-wrapper {
       padding: 10px;
    }
    .card {
      flex: 1;
      min-width: 150px;
      max-width: 150px;
      overflow: hidden;
      height: 325px;
      background-color: white;

      &:hover {
        cursor: pointer;
        background-color: #ddf7fa;
        transition: all 0.1s ease-out;
        box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
        top: -2px;
        border: 1px solid #04d4f0;
      }

    }

   .cat-box {
     display: none;
   }

   .card-img-top {
      height: 35vh;
   }

   .card-title {
     margin-top: -5px;
     white-space: nowrap;
       text-overflow: ellipsis;
       word-break: break-all;
         @supports (-webkit-line-clamp: 2) {
           overflow: hidden;
           text-overflow: ellipsis;
           white-space: initial;
           display: -webkit-box;
           -webkit-line-clamp: 2;
           -webkit-box-orient: vertical;
         }
   }

   .card-body {
     padding: 8px;
   }

  .card-text-wrapper {
    top: 10;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: justify;
    word-break: break-all;

    @supports (-webkit-line-clamp: 4) {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: initial;
      display: -webkit-box;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
    }
  }
 }


 @media only screen and (min-width: 400px) and (max-width: 430px) {
     .home-wrapper {
       padding: 10px;
     }
     .card {
       flex: 1;
       min-width: 180px;
       max-width: 180px;
       overflow: hidden;
       height: 325px;
       background-color: white;

       &:hover {
         cursor: pointer;
         background-color: #ddf7fa;
         transition: all 0.1s ease-out;
         box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
         top: -2px;
         border: 1px solid #04d4f0;
       }

     }

    .cat-box {
      display: none;
    }

    .card-img-top {
       height: 20vh;
    }

    .card-title {
      margin-top: -5px;
      white-space: nowrap;
        text-overflow: ellipsis;
        word-break: break-all;
          @supports (-webkit-line-clamp: 2) {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: initial;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
          }
    }

    .card-body {
      padding: 8px;
    }

   .card-text-wrapper {
     top: 10;
     white-space: nowrap;
     text-overflow: ellipsis;
     overflow: hidden;
     text-align: justify;
     word-break: break-all;

     @supports (-webkit-line-clamp: 4) {
       overflow: hidden;
       text-overflow: ellipsis;
       white-space: initial;
       display: -webkit-box;
       -webkit-line-clamp: 4;
       -webkit-box-orient: vertical;
     }
   }
  }




  @media only screen and (max-width: 395px){
       .home-wrapper {
         padding: 8px;
       }
       .card {
         flex: 1;
         min-width: 160px;
         max-width: 160px;
         overflow: hidden;
         height: 325px;
         background-color: white;

         &:hover {
           cursor: pointer;
           background-color: #ddf7fa;
           transition: all 0.1s ease-out;
           box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
           top: -2px;
           border: 1px solid #04d4f0;
         }

       }

      .cat-box {
        display: none;
      }

      .card-img-top {
         height: 20vh;
      }

      .card-title {
        margin-top: -5px;
        white-space: nowrap;
          text-overflow: ellipsis;
          word-break: break-all;
            @supports (-webkit-line-clamp: 2) {
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: initial;
              display: -webkit-box;
              -webkit-line-clamp: 2;
              -webkit-box-orient: vertical;
            }
      }

      .card-body {
        padding: 8px;
      }

     .card-text-wrapper {
       top: 5;
       margin-top: -10px;
       white-space: nowrap;
       text-overflow: ellipsis;
       overflow: hidden;
       text-align: justify;
       word-break: break-all;

       @supports (-webkit-line-clamp: 4) {
         overflow: hidden;
         text-overflow: ellipsis;
         white-space: initial;
         display: -webkit-box;
         -webkit-line-clamp: 4;
         -webkit-box-orient: vertical;
       }
     }
    }




@media only screen and (min-width: 432px) and (max-width: 900px) {
    .home-wrapper {
       padding: 2px;
    }
    .card {
      flex: 1;
      min-width: 140px;
      max-width: 140px;
      overflow: hidden;
      height: 325px;
      background-color: white;

      &:hover {
        cursor: pointer;
        background-color: #ddf7fa;
        transition: all 0.1s ease-out;
        box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
        top: -2px;
        border: 1px solid #04d4f0;
      }

    }



   .card-img-top {
      height: 20vh;
   }

   .card-title {
     margin-top: -5px;
     white-space: nowrap;
       text-overflow: ellipsis;
       word-break: break-all;
         @supports (-webkit-line-clamp: 2) {
           overflow: hidden;
           text-overflow: ellipsis;
           white-space: initial;
           display: -webkit-box;
           -webkit-line-clamp: 2;
           -webkit-box-orient: vertical;
         }
   }

   .card-body {
     padding: 8px;
   }

  .card-text-wrapper {
    top: 10;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: justify;
    word-break: break-all;

    @supports (-webkit-line-clamp: 4) {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: initial;
      display: -webkit-box;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
    }
  }
 }

