.detail-page {
  display: flex;
  flex-direction: column;
}

.detail-container {
  display: flex;
  padding: 1rem 5rem 1rem 5rem;
}

.btn-custom {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-weight: 600;
  width: 140px;
  height: 40px;
  padding: 10px;
  cursor: pointer;
  border: none;
  color: white;
  background-color: #04d4f0;
  border-radius: 6px;

  &:hover {
    opacity: 0.5;
  }
}

.dp-product-img {
  flex: 30%;
  width: 300px;
  height: 300px;
  overflow: hidden;
}

.dp-product-img img {
  object-fit: contain;
}

.dp-product-details {
  flex: 40%;
  padding: 0 30px 0 30px;
}

.dp-product-name {
  display: flex;
  flex-direction: column;
}

.dp-price {
  font-weight: 700;
  font-size: 2rem;
  padding-top: 1.5rem;
  color: #04d4f0;
}

.dp-form {
  flex: 30%;
}

.dp-pr-name {
  font-size: 35px;
  font-weight: 700;
  text-transform: capitalize;
}

.dp-pr-cat {
  font-weight: 500;
  opacity: 0.8;
}

.dp-description-title {
  font-weight: 600;
  font-size: 1.2rem;
}

.dp-product-desc {
  text-align: justify;
  word-break: keep-all;
}

.quantity-adjustment {
  display: flex;
  align-items: center;
}

.btn-quantity {

  transition: background-color 0.2s, transform 0.2s;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  /* Add a subtle shadow */
}

.btn-quantity:hover {
  background-color: #00b0c7;
  /* Slightly darker shade for hover */
  transform: scale(1.1);
  /* Slightly enlarge on hover */
}

#quantity {
  width: 60px;
  text-align: center;
  border: 1px solid #ccc;
  padding: 5px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.note-section {
  /* Your styles for the note section */
}

.note-input {
  height: 0;
  overflow: hidden;
  transition: height 0.3s;
}

.note-input.expanded {
  height: auto;
}

/* Circular badge styles */
.sold-out-badge {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: red;
  opacity: 0.8;
  color: white;
  border-radius: 50%;
  padding: 10px;
  font-weight: bold;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px; /* Adjust the size of the badge */
  height: 80px; /* Adjust the size of the badge */
}


/* Disable button styles */
.btn-custom[disabled] {
  background-color: #ccc;
  cursor: not-allowed;
}
